<?xml version="1.0"?>

<model>
  <name>Laser Image</name>
  <version>1.0</version>
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>Frankly Toro</name>
    <email>frankly.torogonzalez@kaust.edu.sa</email>
  </author>

  <description>
    Laser plain image for test purposes
  </description>

</model>
