<?xml version="1.0"?>

<model>
  <name>Cage Flight Area</name>
  <version>1.0</version>
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>Frankly Toro</name>
    <email>frankly.torogonzalez@kaust.edu.sa</email>
  </author>

  <description>
    A simple ground area for flight reference
  </description>
</model>
