<launch>

    <arg name="joy_dev" default="/dev/input/js0"/>

    
    <!-- Joystick node-->
    <node pkg="joy" type="joy_node" name="joy_node"  required="true" output="screen">
            <param name="dev" type="string" value="$(arg joy_dev)" />
    </node>

    <!-- Your package node-->
    <!-- <node pkg="mypackage" type="setpoints_node.py" name="setpoints_node"  required="true" output="screen">
    </node> -->

    <!-- Velocity controller node-->
    <node pkg="drone_laser_alignment" type="velocity_controller.py" name="velocity_controller"  required="true" output="screen">
    </node>

    <!-- Laser alignment node-->
    <node pkg="drone_laser_alignment" type="laser_alignment.py" name="laser_alignment"  required="true" output="screen">
    </node>

    <!-- Visualize usb_cam raw image -->
    <node name="image_view_raw" pkg="image_view" type="image_view" respawn="false" output="screen">
        <remap from="image" to="/usb_cam/image_raw"/>
        <param name="autosize" value="false" />
    </node>

    <!-- Visualize blob image -->
    <node name="blob_image_view" pkg="image_view" type="image_view" respawn="false" output="screen">
        <remap from="image" to="/laser_alignment/blob_detector/image_raw"/>
        <param name="autosize" value="false" />
    </node>

    
    
</launch>