<launch>
	<!-- Plot x drone and pixel positions -->
    <node name="xpos_plot" pkg="rqt_plot" type="rqt_plot"
        args="/mavros/local_position/pose/pose/position/x /laser_alignment/coordinates/xp" />
    

    <!-- Plot y drone and pixel positions -->
    <node name="ypos_plot" pkg="rqt_plot" type="rqt_plot"
        args="/mavros/local_position/pose/pose/position/y /laser_alignment/coordinates/yp" />
    

    <!-- Plot z drone position -->
    <node name="zpos_plot" pkg="rqt_plot" type="rqt_plot"
        args="/mavros/local_position/pose/pose/position/z" />
</launch>
