<launch>
	<!-- Plot x drone and pixel positions -->
    <!-- <node name="xpos_plot" pkg="rqt_plot" type="rqt_plot"
        args="/mavros/local_position/pose/pose/position/x /laser_alignment/coordinates/xp" /> -->
    

    <!-- Plot y drone and pixel positions -->
    <!-- <node name="ypos_plot" pkg="rqt_plot" type="rqt_plot"
        args="/mavros/local_position/pose/pose/position/y /laser_alignment/coordinates/yp" /> -->
    

    <!-- Plot z drone position -->
    <node name="zpos_and_vel_plot" pkg="rqt_plot" type="rqt_plot"
        args="/mavros/local_position/pose/pose/position/z /mavros/local_position/velocity_local/twist/linear/z /laser_alignment/velocity_pid/uz" />

    <!-- Plot z pid controller values -->
    <node name="z_controller_plot" pkg="rqt_plot" type="rqt_plot"
        args="/laser_alignment/velocity_pid/uz /laser_alignment/pid_values" />

    <!-- <node name="zvel_plot" pkg="rqt_plot" type="rqt_plot"
        args="/mavros/local_position/velocity/twist/linear/z" /> -->

    <!-- Plot sended setpoints -->
    <!-- <node name="setpoints_plot" pkg="rqt_plot" type="rqt_plot"
        args="/mavros/setpoint_raw/local/position /mavros/setpoint_raw/local/velocity" /> -->
    

</launch>
